In [1]:
from warnings import filterwarnings
filterwarnings('ignore')

In [4]:
import os
os.chdir('D:/Datasets')

In [6]:
import pandas as pd
df = pd.read_csv('50_Startups.csv')

In [7]:
df.head()

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RND     50 non-null     float64
 1   ADMIN   50 non-null     float64
 2   MKT     50 non-null     float64
 3   STATE   50 non-null     object
 4   PROFIT  50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

### Seperate Dependent and Independant features

~~~
PROFIT ~ RND, ADMIN, MKT
PROFIT = B0 + B1*RND + B2*ADMIN + B3*MKT
~~~

In [10]:
X=df.drop(labels=['STATE','PROFIT'],axis=1)
X.head()

         RND      ADMIN        MKT
0  165349.20  136897.80  471784.10
1  162597.70  151377.59  443898.53
2  153441.51  101145.55  407934.54
3  144372.41  118671.85  383199.62
4  142107.34   91391.77  366168.42

In [11]:
Y=df[['PROFIT']]
Y.head()

      PROFIT
0  192261.83
1  191792.06
2  191050.39
3  182901.99
4  166187.94

## Start building the model

In [12]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,Y)

LinearRegression()

In [14]:
model.intercept_

array([50122.19298987])

In [15]:
model.coef_

array([[ 0.80571505, -0.02681597,  0.02722806]])

PROFIT = 50122.19 + 0.8057*RND - 0.0268*ADMIN + 0.0272*MKT

## Evaluate model

In [18]:
ypred = model.predict(X)

In [19]:
ypred

array([[192521.25289008],
       [189156.76823227],
       [182147.2790962 ],
       [173696.70002553],
       [172139.51418327],
       [163580.7805712 ],
       [158114.09666865],
       [160021.36304781],
       [151741.69969865],
       [154884.68410995],
       [135509.01636714],
       [135573.71296074],
       [129138.05418243],
       [127487.99166275],
       [149548.64633453],
       [146235.1599852 ],
       [116915.40540144],
       [130192.44720781],
       [129014.2268059 ],
       [115635.21636716],
       [116639.6692309 ],
       [117319.45164029],
       [114706.98171695],
       [109996.61522126],
       [113362.96611314],
       [102237.72506481],
       [110600.5753503 ],
       [114408.07145684],
       [101660.02600497],
       [101794.98345176],
       [ 99452.37293606],
       [ 97687.85627575],
       [ 99001.32898549],
       [ 97915.00780465],
       [ 89039.27374116],
       [ 90511.59956753],
       [ 75286.17458546],
       [ 89619.5377079 ],
       [ 69697.43064804],
       [ 83729.01197692],
       [ 74815.95399105],
       [ 74802.55623866],
       [ 70620.41182056],
       [ 60167.03996335],
       [ 64611.3549157 ],
       [ 47650.64968691],
       [ 56166.20685261],
       [ 46490.58898335],
       [ 49171.38815763],
       [ 48215.1341113 ]])

In [20]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
mse = mean_squared_error(Y,ypred)
rmse = mse**(1/2)
mae = mean_absolute_error(Y,ypred)
r2= r2_score(Y,ypred)

In [21]:
print(f'MSE: {mse:.2f}')
print(f'RMSE: {rmse:.2f}')
print(f'MAE:{mae:.2f}')
print(f'R2: {r2:.4f}')

MSE: 78417126.02
RMSE: 8855.34
MAE:6471.45
R2: 0.9507

### If i'm starting a new startup , What is my estimated profit?

In [24]:
rnd = 200000
admin = 180000
mkt = 300000
df2 = pd.DataFrame([rnd,admin,mkt]).T
df2.columns = X.columns
print(df2)
print('\n--------------------------------\n')
pred=model.predict(df2)
print(df2)

      RND   ADMIN     MKT
0  200000  180000  300000

--------------------------------

      RND   ADMIN     MKT
0  200000  180000  300000